[submodule "atom_core"]
	path = atom_core
	url = https://github.com/shifu-dev/atom_core.git
[submodule "atom_logging"]
	path = atom_logging
	url = https://github.com/shifu-dev/atom_logging.git
[submodule "atom_engine"]
	path = atom_engine
	url = https://github.com/shifu-dev/atom_engine.git
[submodule "atom_editor"]
	path = atom_editor
	url = https://github.com/shifu-dev/atom_editor.git
[submodule "samples/super_mario"]
	path = samples/super_mario
	url = https://github.com/shifu-dev/atom_super_mario.git
